@mixin center-absoluete{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin desktop {
	@if $movil == true {
		@media only screen and (min-width: $query-desktop) {
			position: absolute;
			@content;
		}
	}@else{
		position: absolute;
		@content;
	}
   
}
@mixin desktopLayout($layout){
	position: absolute;
	$defaults: (
	  width: 100%,
	  height: 100%,
	  left: null,
	  top: null,
	  right: null,
	  bottom: null,
	  position: absolute 
	);
	$options: map-merge($defaults, $layout); 
	
	@if map-has-key($options, 'width') {
		width: map-get($options, 'width');
	}@else {
		width: 100%;
	}
	@if map-has-key($options, 'height') {
		height: map-get($options, 'height');
	}@else {
		height: 100%;
	}
	@if map-has-key($options, 'left') {
		left: map-get($options, 'left');
	}
	@if map-has-key($options, 'top') {
		top: map-get($options, 'top');
	}
	@if map-has-key($options, 'right') {
		right: map-get($options, 'right');
	}
	@if map-has-key($options, 'bottom') {
		bottom: map-get($options, 'bottom');
	}
	@if map-has-key($layout, 'debugger') {
		border: 1px solid;
		border-color: ramdomColor();
	}
}
@mixin movil {
	@if $movil == true {
		@media only screen and (max-width: $query-movil) {
			position: static;
			@content;
		}
	}
}
@mixin flexGroupElemets($layaout) {
	& > * {
	  position: static;
	}
	
	display: flex;
	@if map-has-key($layaout, 'justify-content') {
		justify-content: map-get($layaout, 'justify-content' );
	}
	@if map-has-key($layaout, 'align-items') {
		align-items: map-get($layaout, 'align-items' );
	}
	@if map-has-key($layaout, 'flex-direction') {
		flex-direction: map-get($layaout, 'flex-direction' );
	}
	@if map-has-key($layaout, 'gap') {
		gap: map-get($layaout, 'gap' );
	}
  }