/*#stage_hola {
	@include desktop(){
		@include desktopLayout((
			width: 50%,
			height: 60px,
			left: 20px,
			top: 100px,
			
		));
		overflow: hidden;
		@include flexGroupElemets((
			flex-direction: row,
			justify-content: space-between,
			align-items: center
		));
	}
	@include movil(){
		height: 200px;
	}
}*/
#stage1{
	background-image: url(./images/fondo-01.jpg);
	background-size: cover;
	background-color: #f0f0f0;
	&_icon_splah{
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 20px,
				top: 100px,
				
			));
		}
	}
	&_btn_next{
		cursor: pointer;
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 20px,
				top: 360px,
				
			));
		}
	}
}
#stage2{
	background-image: url(./images/fondo-02.jpg);
	background-size: cover;
	background-color: #f0f0f0;
	&_title{
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 100px,
				top: 100px,
				
			));
		}
	}
	&_text{
		font-family: 'Century Gothic Regular';
		color: #666666;
		@include desktop(){
			@include desktopLayout((
				width: 850px,
				height: auto,
				left: 100px,
				top: 170px,
				
			));
		}
		p{
			margin-top: 20px;
		}
	}
	&_sub_titulo{
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				top: 400px,
				right: 75px,
				
			));
		}
	}
	&_btn_next{
		cursor: pointer;
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 100px,
				top: 440px,
				
			));
		}
	}
	&_btn_back{
		cursor: pointer;
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 30px,
				top: 440px,
				
			));
		}
	}
}
#stage3{
	background-image: url(./images/fondo-03.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #f0f0f0;
	&_verduras{
		@include desktop(){
			@include desktopLayout((
				width: 139px,
				height: auto,
				left: 50px,
				top: 145px,
				
			));
		}
	}
	&_carbohidratos{
		@include desktop(){
			@include desktopLayout((
				width: 165px,
				height: auto,
				left: 200px,
				top: 140px,
				
			));
		}
	}
	&_proteinas{
		@include desktop(){
			@include desktopLayout((
				width: 104px,
				height: auto,
				left: 190px,
				top: 510px,
				
			));
		}
	}
	&_bebidas{
		@include desktop(){
			@include desktopLayout((
				width: 89px,
				height: auto,
				left: 410px,
				top: 110px,
				
			));
		}
	}
	&_grasas{
		@include desktop(){
			@include desktopLayout((
				width: 103px,
				height: auto,
				left: 420px,
				top: 490px,
				
			));
		}
	}
	&_dropp_verduras{
		@include desktop(){
			@include desktopLayout((
				width: 159px,
				height: 290px,
				left: 40px,
				top: 210px,
				
			));
		}
	}
	&_dropp_carbohidratos{
		@include desktop(){
			@include desktopLayout((
				width: 159px,
				height: 150px,
				left: 205px,
				top: 210px,
				
			));
		}
		
	}
	&_dropp_proteinas{
		@include desktop(){
			@include desktopLayout((
				width: 139px,
				height: 140px,
				left: 205px,
				top: 365px,
				
			));
		}
		
	}
	&_dropp_bebidas{
		@include desktop(){
			@include desktopLayout((
				width: 159px,
				height: 130px,
				left: 380px,
				top: 170px,
				
			));
		}
		
	}
	&_dropp_grasas{
		@include desktop(){
			@include desktopLayout((
				width: 139px,
				height: 120px,
				left: 390px,
				top: 380px,
				
			));
		}
	}
	&_btn_up{
		cursor: pointer;
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				right: 51px,
				top: 100px,
				
			));
		}
	}
	&_btn_down{
		cursor: pointer;
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				right: 51px,
				bottom: 160px,
				
			));
		}
	}
	&_options{
		@include desktop(){
			@include desktopLayout((
				width: 298px,
				height: 280px,
				right: 51px,
				bottom: 242px,
				
			));
		}
	}
	&_btn_back{
		cursor: pointer;
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				right: 40px,
				bottom: 80px,
				
			));
		}
	}
}
.items{
	background-color: #666666;
	font-family: 'Century Gothic Bold';
	color: #f0f0f0;
	padding: 5px;
	font-size: 18px;
	position: absolute;
	width: 100%;
	text-align: center;
	cursor: move;
}

@for $i from 1 through 8 {
	.item#{$i} {
	  top: ($i * 35px);
	}
}

.active_item{
	filter: drop-shadow(0px 0px 10px #070707);
}